body{
    text-align: center;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: rgb(28, 141, 141);
    padding-top: 25px;
}
h2{
    color: rgb(70, 69, 69);
}
p{
    padding-top: 20px;
    color: black;
    margin: auto;
}

#shiu{
    color: white;
}

h3{
    
    color: rgba(0, 0, 0, 0.623);
}
img{
    border: 5px black solid ;
}

#imagens{
    display: flex;
    flex-direction: row;
}

.linhas{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.linhas{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}